In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('Restaurant_Reviews.tsv',sep='\t')
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [22]:
df.shape

(1000, 2)

In [21]:
df['Liked'].value_counts()

1    500
0    500
Name: Liked, dtype: int64

In [8]:
import re
from nltk.stem import PorterStemmer
ps=PorterStemmer()
from nltk.corpus import stopwords
def clean_text(text):
    text=re.sub('[^a-zA-Z0-9]',' ',text)
    text=text.lower()
    text=text.split()
    text=[ps.stem(word) for word in text if not word in set(stopwords.words('english'))]
    return ' '.join(text)
df['Review']=df['Review'].apply(lambda x:clean_text(x))

In [12]:
import numpy as np

In [15]:
len(np.unique((' '.join(df['Review']).split())))

1593

In [16]:
df

                                                Review  Liked
0                                       wow love place      1
1                                           crust good      0
2                                   tasti textur nasti      0
3    stop late may bank holiday rick steve recommen...      1
4                              select menu great price      1
..                                                 ...    ...
995                      think food flavor textur lack      0
996                             appetit instantli gone      0
997                       overal impress would go back      0
998  whole experi underwhelm think go ninja sushi n...      0
999  wast enough life pour salt wound draw time too...      0

[1000 rows x 2 columns]

In [20]:
sum([len(i.split()) for i in df['Review']])

5562