In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Restaurant_Reviews.tsv',sep='\t')

In [3]:
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [4]:
df.isnull().sum()

Review    0
Liked     0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
train_sentences,test_sentences,train_labels,test_labels=train_test_split(df['Review'].values,df[['Liked']].values,test_size=0.2,random_state=42)

In [9]:
train_sentences.shape,test_sentences.shape

((800,), (200,))

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [13]:
model_0=Pipeline([
    ('tfidf',TfidfVectorizer()),
    ('classifier',MultinomialNB())
])
model_0.fit(train_sentences,train_labels)

C:\Users\yashm\anaconda3\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('classifier', MultinomialNB())])

In [14]:
model_0.score(train_sentences,train_labels)

0.96375

In [15]:
model_0.score(test_sentences,test_labels)

0.79